.conetendor_producto {
  display: block;
  width: 100%;
  margin-top: 10px;
}
.banner-producto {
  background-image: url("/Image/Account/banner_Producto.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0px;
}
.title_Producto {
  color: #ffffff;
  text-align: center;
  font-size: 3em;
}
.categoria_producto {
  width: 100%;
  max-width: 250px;
  margin: 0px 25px 0px 0px;
  margin-top: 10px !important;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
}
.columna-1, .columna-2{
  position: relative;
  display: block;
  width: 100%;
  border: 2px solid #ebebeb;
  padding: 20px 8px;
  margin: auto;
}
.content_card_producto {
  width: 100%;
  padding: 25px 0px;
  padding-top: 0px;
  margin-top: 10px;
}
.padding_producto {
  padding: 30px 15px;
}
.title-cate, .title-prd {
  font-size: 25px;
  font-weight: 600;
  color: #3d464d;
}
.title-cate{
  color: #ffffff;
  background-color: #3d464d;
  cursor: pointer;
}
.list_categoria{
  position: relative;
  display: block;
  width: 100%;
  border: 2px solid #ebebeb;
  border-top: 0;
  padding: 0px 8px;
  margin: auto;
}
.space {
  padding: 0.2rem;
}
.list_categorias {
  width: 100%;
  display: none;
}
.list_categorias li {
  padding: 18px 0px;
  width: 100%;
}
.list_categorias li a {
  text-decoration: none;
  color: #434343;
  font-size: 17px;

}
.list_categorias li a:hover {
  color: #434343;
  font-weight: 700;
}

.body_prd{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.title-prd{
  text-align: center;
}

.list_prd{
  width: 100% !important;
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  padding-bottom: 10px;
  align-items: center;
  border-bottom: none;
}
.list_prd:not(:nth-last-child(1)){
  border-bottom: 2px solid #ebebeb;
}
.item_prd_img{
  width: 100%;
  max-width: 74px;
  margin: auto;
  margin-right: 10px;
  padding: 5px;
}
.item_prd_img a img{
  max-width: 100%;
}

.item_prd_title{
  width: 100%;
  margin: auto;
  font-size: 12px;
}
.item_prd_title a{
  color: #3d464d;
}
.item_prd_title a span{
  font-weight: 600;
}

.top_card_producto {
  width: 100%;
  font-size: 14px;
  padding-bottom: 10px;
}
.box-order {
  width: 100%;
  display: block;
}
.box-order form{
  width: 100%;
}
.buscarProd{
  padding: 8px;
  width: 300px;
  outline: none;
  border: 2px solid #ebebeb;
  border-radius: 3px;
}
.btn-buscar-pro{
  padding: 8px;
  color: #ffffff;
  background-color: #ff6200;
  border: 0px;
  cursor: pointer;
  border: 1px solid #ff6200;
}
.btn-buscar-pro:hover{
  background-color: #0d3d8a;
  border: 1px solid #0d3d8a;
}
.card-producto {
  width: 100%;
  height: auto;
  max-width: 265.4px;
  overflow: hidden;
  box-shadow: 0 0 8px 0px #bfb8b8;
  margin-bottom: 15px;
  border-radius: 3px;
}
.imagen-producto {
  width: 100%;
  height: 275px;
  display: block;
  overflow: hidden;
  position: relative;
  margin-top: 10px;
}
.desp_pro{
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.detalle {
  position: absolute;
  width: 80px;
  background-color: #fff;
  height: 50px;
  font-size: 25px;
  top: 50%;
  right: -105px;
  transform: translateY(-35%);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all linear 0.3s;
}
.imagen-producto:hover .detalle {
  right: 0px;
}
.detalle a {
  color: #2e2e2e;
}
.imagen-producto img {
  width: 100%;
  height: 100%;
}
.nombre-producto {
  display: block;
  text-align: center;
  padding: 5px 25px;
  color: #3d464d;
  font-weight: 700;
}
.card-producto p {
  margin-bottom: 0px !important;
}
.precio-producto {
  text-align: center;
  font-weight: 700;
  color: #0d3d8a;
  padding: 5px 0px;
  font-size: 15px;
}
.anadir-carrito {
  display: flex;
  justify-content: center;
  width: 100%;
}
.anadir-carrito button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  cursor: pointer;
  background-color: #ff6200;
  border: 0;
  color: white;
  position: relative;
  transition: all linear 0.3s;
}
.anadir-carrito button:hover {
  background-color: #0d3d8a;
}
.pre-a {
  text-decoration: line-through;
  color: #a8a8a8;
}
.content_cadr {
  flex-wrap: wrap;
  justify-content: space-between;
}
.contenedor_navegacion {
  width: 100%;
  padding: 20px;
  height: auto;
  display: block;
  margin-top: 10px;
}
.contenedor_navegacion .lista_navegacion {
  display: flex;
  justify-content: center;
}
.contenedor_navegacion .lista_navegacion li {
  margin: 0px 4px;
  cursor: pointer;
}
.contenedor_navegacion .lista_navegacion li a {
  color: #3d464d;
  padding: 13px;
  font-weight: 700;
}
.contenedor_navegacion .lista_navegacion li .number_nave:hover,
.contenedor_navegacion .lista_navegacion li .direccion:hover {
  background-color: #e7e7eb;
}
.contenedor_navegacion .lista_navegacion .active_pag {
  background-color: #0d3d8a;
  color: #e7e7eb;
}
.leyenda_top {
  display: block;
  padding: 10px 0px;
  margin-bottom: 6px;
  font-weight: 600;
  font-size: 14px;
}

.leyenda_top a {
  color: #3d464d;
}
.leyenda_top a:nth-child(1) {
  color: #cecece;
}
.page-header-title {
  color: #3d464d;
}

.title-top {
  color: #3d464d;
  margin-bottom: 10px;
}

